@model CustomerSideProject.Models.customers_table

@{
    ViewBag.Title = "Viewresult1";
}

<h2>Viewresult1</h2>

<div>
    <h4>customers_table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cusid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cusid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cusname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cusname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cusaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cusaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cusstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cusstatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
